// Body
body {
    margin: 0;
    padding: 0;
    font-family: $body-font;
    background-color: #333;
    color: #8c8c8c;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #222;
}

h1 {
    font-family: $title-font;
    font-size: 4.5em;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-family: $sub-title-font;
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
}

h3, h4, h5, h6 {
    font-family: $sub-title-font;
    margin: 0;
}

.outter {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.justify {
    text-align: justify;
    img {
        width: 100%;
    }
}

@media (min-width: $bp-l) {
    body {
        font-size: 16px;
    }
}
@media (min-width: $bp-m) and (max-width: ($bp-l - 1)) {
    body {
        font-size: 16px;
    }
}
@media (min-width: $bp-s) and (max-width: ($bp-m - 1)) {
    body {
        font-size: 14px;
    }
}